/* Normilize Page */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 4px;
    background-image: url(../img/background.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

html::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, h4, h5, h6, p, figure, blockquote {
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

/* Custom properties */
:root {
    --header-background-color: #ffffff;
    --body-light: white;
    --body-dark: #f5f4f4;
    --borders: .1rem solid #d8d6d6;
    --heading-size: 3rem;
    --sections-width: 100vw;
    --header-heigh: 5rem;
    --header-padding: 2rem;
    --header-margin-left-right: 1.5rem;
    --section-min-heigh: 17rem;
    --x-small-text: 2.5rem;
    --small-text: 4rem;
    --mid-text: 6rem;
    --larg-text: 8rem;
    --text-color: #121217;
    --heading-color: #121217;
    --header-position: fixed;
    --header-text-align: center;
    --nav-display: inline-block;
    --nav-list-wrap: nowrap;
    --nav-list-padding: 3rem;
    --box-shadow: rgba(255, 255, 255, 0.05) 0px 1px 1px, rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 4px 8px, rgba(0, 0, 0, 0.1) 0px 8px 16px, rgba(0, 0, 0, 0.1) 0px 16px 32px;
}

/* Style */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: .7rem; */
    position: var(--header-position);
    background-color: var(--body-dark);
    min-width: var(--sections-width);
    min-height: var(--header-heigh);
    border-bottom: var(--borders);
    box-shadow: var(--box-shadow);
    z-index: 1;
}


.header .desktop-nav {
    display: none;  /* Hide Desktop menu */
}


.header .nav-icon {
    display: var(--nav-display);
    color: var(--heading-color);
    font-size: var(--small-text);
    padding: var(--header-padding);
}

.logo {
    display: var(--nav-display);
    color: var(--heading-color);
    font-size: var(--small-text);
    padding: var(--header-padding);
    margin: 0;
    text-align: var(--header-text-align);
}

.header .resume-button {
    display: relative;
    color: var(--heading-color);
    font-size: var(--x-small-text); 
    padding: var(--header-padding);
    margin: var(--header-margin-left-right);
    border: var(--borders);
    border-radius: 1.5rem;
    box-shadow: var(--box-shadow);
}

main {
    flex: 1;
    text-align: center;
}

main .intro-section {
   padding-top: 15rem;
   text-align: center;
}

main section h2 {
    font-size: var(--larg-text);
    color: var(--heading-color);
    padding: 2rem;
    text-align: center;
}

main section p {
    font-size: var(--mid-text);
    color: var(--heading-color);
    padding: 2rem;
    text-align: center;
}

main section h1 {
    font-size: var(--larg-text);
    color: var(--heading-color);
    padding: 2rem;
    text-align: center;
}

/* Scroll-triggered fade-in */
.fade-in-section {
      opacity: 0;
      transform: translateY(20px);
      transition: all 1s ease-out;
      will-change: transform, opacity;
}

.fade-in-section.visible {
    opacity: 1;
    transform: none;
}

.text-block {
      width: 90%;
      max-width: 800px;
      margin: 4rem auto;
      padding: 2rem 1rem;
      border-radius: 1rem;
      background: rgba(255, 255, 255, 0.05);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
      text-align: center;
      transition: transform 0.3s ease;
      backdrop-filter: blur(3px);
}

.text-block:hover {
    transform: scale(1.02); /* Reduced scale to avoid overflow */
}


.terminal-button {
      font-size: var(--small-text);
      background-color: transparent;
      padding: 0.8rem 1.5rem;
      position: block;
      overflow: hidden;
}

.terminal-button .cursor {
      display: inline-block;
      width: 8px;
      height: 1.2rem;
      background-color: black;
      margin-left: 5px;
      animation: blink 1s steps(2, start) infinite;
      vertical-align: bottom;
}

@keyframes blink {
      0%, 100% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
}

.about {
    padding: 5rem;
    text-align: center;
    background-color: var(--body-dark);
    opacity: 0.6;
    border: var(--borders);
    border-radius: 2rem;
    padding: .1rem;
    margin: 4rem;
    box-shadow: var(--box-shadow);
}

.portfolio {
    padding: 5rem;
    text-align: center;
    background-color: var(--body-dark);
    opacity: 0.6;
    border: var(--borders);
    border-radius: 2rem;
    padding: .1rem;
    margin: 4rem;
    box-shadow: var(--box-shadow);
}

.footer {
    text-align: center;
    background-color: var(--body-dark);
    padding: 1rem;
    font-size: var(--x-small-text);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
}

.about img {
    width: 30rem;
    height: auto;
    border: var(--borders);
    border-radius: 2rem;
    margin-top: 2rem;
    box-shadow: var(--box-shadow);
}

.fa-brands {
    padding: 5rem;
    font-size: var(--larg-text);
}

.about-button {
    font-size: var(--small-text);
    background-color: transparent;
    padding: 0.8rem 1.5rem;
    position: block;
    overflow: hidden;
    border: var(--borders);
    border-radius: 2rem;
    max-width: fit-content;
    height: 10rem;
    margin: 2em auto;
    box-shadow: rgba(255, 255, 255, 0.05) 0px 1px 1px, rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 4px 8px, rgba(0, 0, 0, 0.1) 0px 8px 16px, rgba(0, 0, 0, 0.1) 0px 16px 32px;
}

.project-card {
    border: var(--borders);
    border-radius: 2rem;
    padding: 3rem;
    margin: 3rem;
    width: auto;
    min-height: 30rem;
    background-color: var(--body-light);
    opacity: 0.9;
    box-shadow: 0 4px 8px rgba(119, 111, 111, 0.1);
}

.project-card h3 {
    font-size: var(--mid-text);
    color: var(--heading-color);
    margin-bottom: 1rem;
}

.project-card p {
    font-size: var(--small-text);
    color: var(--text-color);
}

.project-card .slide-container img {
    position: relative;
    width: 100%;
    min-height: 20rem;
    display: none;
    overflow: hidden;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(255, 255, 255, 0.05) 0px 1px 1px, rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 4px 8px, rgba(0, 0, 0, 0.1) 0px 8px 16px, rgba(0, 0, 0, 0.1) 0px 16px 32px;
}

.about-button.project-link {
    position: relative;
    margin: .7rem;
    max-width: fit-content;
}

.skills-section {
    padding: 5rem;
    text-align: center;
    background-color: var(--body-dark);
    opacity: 0.6;
    border: var(--borders);
    border-radius: 2rem;
    padding: .1rem;
    margin: 4rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 4rem;
    border: var(--borders);
    border-radius: 3rem;
    min-width: 5rem;
}

.skills-sub-section {
    margin: 5rem;
    padding: 1rem;
    border: var(--borders);
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
}

.skill-card img {
    width: 15rem;
    height: 15rem;
    margin: 1rem;
}


.contact-section {
    padding: 5rem;
    text-align: center;
    background-color: var(--body-dark);
    opacity: 0.6;
    border: var(--borders);
    border-radius: 2rem;
    padding: .1rem;
    margin: 4rem;
    box-shadow: var(--box-shadow);
}

.mail-link {
    color: var(--text-color);
    font-size: var(--mid-text);
    text-decoration: none;
    margin: 0 1rem;
}

.skills-title {
    font-size:6rem;
    color: var(--heading-color);
    margin-bottom: 1rem;
}

.mobile-nav {
    display: none;  /* Hide Mobile menu by default */
    position: fixed;
    color: var(--heading-color);
    font-size: var(--small-text);
    width: 100%;
    min-height: 15rem;
    padding: var(--header-padding);
    background-color: rgba(229, 232, 235, 0.9);
    list-style: none;
    z-index: 2;
    text-align: center;
    border-radius: 2rem;
}

.mobile-nav ul {
    padding: .5rem;
}

.mobile-nav li {
    padding: .3rem;
    margin: .8rem;
    list-style: none;
    border: var(--borders);
    border-radius: 3rem;
    box-shadow: rgba(255, 255, 255, 0.05) 0px 1px 1px, rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 4px 8px, rgba(0, 0, 0, 0.1) 0px 8px 16px, rgba(0, 0, 0, 0.1) 0px 16px 32px;
}

.mobile-nav li:hover {
    background-color: rgba(200, 200, 200, 1);
}

.mobile-nav li:active {
    transform: scale(0.98);
}

/* Media queries for Desktop */

nav ul {
    white-space: var(--nav-list-wrap);
}

nav li {
    font-size: var(--x-small-text);
    width: 25%;
    display: var(--nav-display);
    padding: var(--nav-list-padding);
    color: var(--text-color);
}


    @media (max-width: 600px) {
      h1 {
        font-size: 1.6rem;
      }
      p {
        font-size: 1rem;
      }
    }